body {
    background-color: #000;
    color: #fff;
    overflow: hidden;
}

#root {
    margin: 0 auto;
    text-align: center;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    column-gap: 50px;

    @media (orientation: portrait) {
        flex-direction: column;
        align-items: center;
    }
}

.inner-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

    @media (orientation: portrait) {
        align-items: center;
    }
}

.countdowns {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media (orientation: portrait) {
        align-items: center;
    }
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cover {
    display: flex;
    flex-direction: column;
}

.track {
    display: flex;
    flex-direction: row;
}

#release-simulator {
    display: flex;
    flex-direction: column;
}
