body {
    background-color: #000;
    color: #fff;
    overflow: hidden;
}

#root {
    margin: 0 auto;
    text-align: center;
}

.container {
    width: 100%;
    height: 100%;
}

.countdowns {
    position: absolute;
    right: 16px;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.controls {
    position: absolute;
    right: 32px;
    bottom: 32px;
    display: flex;
    flex-direction: column;
}

.cover {
    display: flex;
    flex-direction: column;
}

.track {
    display: flex;
    flex-direction: row;
}

/* https://tobiasahlin.com/blog/how-to-animate-box-shadow/ */
.tile {
    padding: 0;
    margin: 0;
    transition: transform 0.3s ease-in-out;
}

.tile.empty {
    /* background-color: #222; */
}

.tile.filled.playing,
.tile.filled.new {
    border: 10px;
    border-color: #fff;
    transform: scale(1.2, 1.2);
}

/* Pre-render the bigger shadow, but hide it */
.tile.filled::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.8);
    transform: scale(1.2, 1.2);
    transition: opacity 0.3s ease-in-out;
}

/* Transition to showing the bigger shadow on hover */
.tile.filled.playing::after,
.tile.filled.new::after {
    opacity: 1;
}

@media (hover: hover) {
    .tile.filled:hover {
        border: 10px;
        border-color: #fff;
        transform: scale(1.2, 1.2);
    }
    .tile.filled:hover::after {
        opacity: 1;
    }
}

#release-simulator {
    display: flex;
    flex-direction: column;
}
