body {
    background-color: #000;
    color: #fff;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.cover {
    display: flex;
    flex-direction: column;
}

.track {
    display: flex;
    flex-direction: row;
}

/* https://tobiasahlin.com/blog/how-to-animate-box-shadow/ */
.tile {
    padding: 0;
    margin: 0;
    transition: all 0.3s ease-in-out;
}

.tile:hover,
.tile.playing {
    border: 10px;
    border-color: #fff;
    transform: scale(1.2, 1.2);
}

/* Pre-render the bigger shadow, but hide it */
.tile::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.8);
    transform: scale(1.2, 1.2);
    transition: opacity 0.3s ease-in-out;
}

/* Transition to showing the bigger shadow on hover */
.tile:hover::after,
.tile.playing::after {
    opacity: 1;
}
